/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "inter", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #2a586b; /* casal */
    --secondary-color: #C9FFE5; /* aero-blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 86px; /* Pushes the top of the header down under the fixed nav bar */
}

h1,
h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 35px;
    margin-block: 0.2em;
}

h3 {
    font-size: 23px;
}

.large-text {
    font-size: 23px;
}

/* Reduce font size of h2 heading in the quote page */
.small-font {
    font-size: 20px;
    margin-block: 1em;
}

/* Navbar section*/

#navbar {
    background-color: var(--primary-color);
    box-shadow: 2px 4px 6px gray;
}

#navbar .logo {
    width: 60px;
    margin-left: 20px;
}

/* Increase font size of navbar text */
.navbar-large-text .nav-link,
.navbar-large-text .navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: white;
}

.nav-link.active {
    text-decoration: underline;
}

/* Hero section*/

.hero {
    background-image: url(../images/blue-couch.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.hero h3 {
    text-transform: uppercase;
    text-decoration: solid;
}

.centered-box {
    white-space: nowrap;
    background-color: white;
    opacity: 0.8;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-150px);
}

.overlay-text {
    display: block;
    margin-bottom: 5px
}

.fade-message {
    opacity: 1;
    transition: opacity 1s ease;
}

/* Section for - What is home staging & why choose us */

/* Styling to set equal; heights to card element in sections for - what is home staging & why choose us*/
.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 3 step process section */

.ivory-bg {
    background-color: #f5ede0 /* Ivory */
}

.process-section {
    max-width: 1140px;
    margin: 0 auto;
}

.process-box {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.process-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

/* Testimonials section */

/* Reduce size of the testimonials pictures */
.small-img {
    width: 200px;
    height: auto;
}

/* change color of stars in review */
.gold-color {
    color: gold;
}

/* Portffolio Page*/

.fixed-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* Maintain aspect ratio in small and extra small screens */
@media (max-width: 576px) {
    .fixed-img {
        height: auto;
        aspect-ratio: 2.5 / 2;
        /* Maintains aspect ratio on XS/SM screens */
        object-fit: cover;
    }
}

/* Buttons */

.custom-button {
    background-color: var(--primary-color);
    color: white;
}

.custom-button:hover {
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid var(--primary-color)
}

/* 404 Page */

.error-container {
    height: 100vh;
}

.error-code {
    font-size: 10rem;
    font-weight: 700;
    color: #dc3545;
}

.error-message {
    font-size: 1.5rem;
}

/* Footer / contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: white;
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact h3 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#contact .table-dark * {
    background-color: transparent;
}

/* Style to change color of phone number on mobiles to enhance contrast */
.custom-color {
    color: white;
}

/* style to correct text-decoration property from bootstrap on social links */
#contact a {
    text-decoration: none;
}

/* Change color of all table border lines*/
.custom-table {
    border: 1px solid white !important;
}