/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "inter", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #0a3463;
    /* Dark green */
    --secondary-color: #cba161;
    /* Light brown */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

/* Navbar section*/

#navbar {
    background-color: var(--secondary-color);
    box-shadow: 2px 4px 6px gray;
}

#navbar .logo {
    width: 60px;
    margin-left: 20px;
}

/* Increase font size of navbar text */

.navbar-large-text .nav-link,
.navbar-large-text .navbar-brand {
    font-size: 1.5rem;
}

/* Hero section*/

.hero {
    background-image: url(../images/blue-couch.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.centered-box {
    white-space: nowrap;
    background-color: white;
    opacity: 0.8;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-150px);
}

/* Styling to set equal; heights to card element in sections for - what is home staging & why choose us*/

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Testimonials */
/* Reduce size of the testimonials pictures */
.small-img {
    width: 200px;
    height: auto;
}

/* change color of stars in review */
.gold-color {
    color: gold;
}

/* Footer / contact */

#contact {
    background-color: var(--secondary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact i {
    color: #f4d3a2;
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: white;
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--primary-color)
}

#contact .table-dark * {
    background-color: transparent;
}

/* stle to correct text-decoration property from bootstrap on social links */
#contact a {
    text-decoration: none;
}

/* Change all table border lines to navy blue */
.custom-table {
    border: 1px solid white !important;
}


/* grid visualization CSS for testing */

/*.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */